
.App{
  text-align: center;
}
.tittle{
  padding: 18px;
  font-size: 25px;
  font-weight: bold;
  background-color:tomato;
  border-radius: 20px;
  margin : 25px;
}



footer{
  position: fixed;
  bottom: 0;
  text-align: center;
  width: 100%;
background-color: #AFEEEE;  
padding: 15px;
font-size: 20px;
font-weight: bolder;
border-radius: 25px;
}
.stu{
  display: flex;
   flex-wrap: wrap;
   gap: 20px;
}

